*{
    padding: 0%;
    margin: 0%;
    background-color: rgb(128, 72, 180);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

nav{
    background-color: rgb(181, 149, 211);
    width: 100%;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    position: fixed;
}

nav ul{
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-around;
    background-color: rgb(181, 149, 211);
}

nav ul li a{
    background-color: rgb(181, 149, 211);
    font-size: xx-large;
    font-weight: bold;
    text-decoration: none;
}

#tab1{
    width: 100%;
    height: 50vh;
    background-color: rgb(181, 149, 211);
    border: 5px solid white;
}

#tab2{
    width: 100%;
    height: 50vh;
    background-color: rgb(144, 103, 184);
    border: 5px solid white;
}

#tab3{
    width: 100%;
    height: 50vh;
    background-color: rgb(128, 72, 180);
    border: 5px solid white;
}